<div class="header_wrapper">
  <div class="nav_container">
    <div class="nav_brand ">
      <a class="navbar-item" id="indexPage" href="/"> oneNeko</a>
    </div>
    <div class="navbar_menu">
      <a class="navbar-item" id="nav_about" href="/about.html">关于</a>
      <a class="navbar-item" id="nav_category" href="/Categories.html">分类</a>
      <a class="navbar-item" id="nav_about" href="https://bing.oneneko.com">壁纸</a>
      
    </div>
  </div>
</div>
<script>
  var t = 0, b = 100;
  $(window).scroll(function(){
      t = $(this).scrollTop();
      if(b < t){
        $('.header_wrapper').slideUp();
      }else{
        $('.header_wrapper').slideDown();
      }
      setTimeout(function(){
          b = t
      }, 0)
  })
</script>
