<ul id="_toc">
  <script src="https://libs.baidu.com/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    if(!window.jQuery) {
      document.write('<script src="https://libs.baidu.com/jquery/1.7.1/jquery.min.js"}}><\/script>')
    }
  </script>
  <script src="{{site.cdn}}/js/toc.js"></script>
  <script>
    let tags = {%if include.tags%}"{{include.tags}}"{%else%}"H1,H2"{%endif%};
    let ignore = {%if include.ignore%}"{{include.ignore}}"{%else%}''{%endif%};
    $(document).ready(function () {
      toc($("#_toc"), tags, ignore);
    });
  </script>
</ul>
