---
layout:
---
{% include header.html %}
{% include nav.html %}
<div class="categoriesbody" style="
    margin: 0 auto;
    width: 850px;">
  <div class="list-category">
    <h2>所有分类</h2>
    <div class="category-summary">
      {% for category in site.categories reversed %}
      <a href="javascript:document.getElementById('{{ category[0] }}').scrollIntoView({behavior: 'smooth'})">{{ category[0] }}</a>
      {% endfor %}
    </div>
  </div>
  {% for category in site.categories reversed%}
  <div class="list-post">
    <h2 id="{{ category[0] }}">{{ category[0] }}</h2>
    <ul>
      {% for post in category[1] %}
      <li class="list-detail">
        <span class="date">{{ post.date | date: "%Y/%m/%d" }}</span>
        <a href="{{ site.baseurl | append: post.url }}" class="title hover-underline">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% include returnTop.html %}
{% include footer.html %}
